<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Velocímetro Digital.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5BBB70F81C7A827800901370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BBB710C1C7A827800901370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5BBB71171C7A827800901370</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
